<div class="reset-page">

  <div class="reset-header">

    <p>
      EVENTFLOW • PASSWORD RESET
    </p>

    <h1>
      Create New
      <span>Password</span>
    </h1>

  </div>


  <div class="reset-card">

    <div class="brand">

      <div class="logo-circle">
        <div class="logo-dot"></div>
      </div>

      <span>EVENTFLOW</span>

    </div>


    <div class="title-section">

      <h2>Reset your password</h2>

      <p>
        Create a new secure password for your EventFlow account.
      </p>

    </div>


    <form (ngSubmit)="resetPassword()">

      <div class="form-group">

        <label>New Password</label>

        <div class="input-box">

          <span class="input-icon">
            🔒
          </span>

          <input
            [type]="showNewPassword ? 'text' : 'password'"
            name="newPassword"
            [(ngModel)]="newPassword"
            placeholder="Enter new password"
            required
          />

          <button
            type="button"
            class="eye-button"
            (click)="toggleNewPassword()"
          >
            {{ showNewPassword ? '◉' : '◌' }}
          </button>

        </div>

      </div>


      <div class="form-group">

        <label>Confirm Password</label>

        <div class="input-box">

          <span class="input-icon">
            🔐
          </span>

          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            placeholder="Confirm new password"
            required
          />

          <button
            type="button"
            class="eye-button"
            (click)="toggleConfirmPassword()"
          >
            {{ showConfirmPassword ? '◉' : '◌' }}
          </button>

        </div>

      </div>


      <div class="password-rules">

        <span class="rule-dot"></span>

        Password must contain at least 8 characters.

      </div>


      <button
        type="submit"
        class="reset-button"
        [disabled]="loading"
      >

        @if (loading) {

          <span>
            Updating...
          </span>

        } @else {

          <span>
            Reset Password
          </span>

          <span>
            →
          </span>

        }

      </button>

    </form>


    @if (message) {

      <div class="success-message">
        {{ message }}
      </div>

    }


    @if (errorMessage) {

      <div class="error-message">
        {{ errorMessage }}
      </div>

    }


    <div class="divider"></div>


    <div class="back-login">

      Remember your password?

      <a routerLink="/login">
        Back to Login
      </a>

    </div>

  </div>


  <div class="bottom-text">

    <span>SECURE RESET</span>

    <span>•</span>

    <span>EVENTFLOW</span>

    <span>•</span>

    <span>ACCOUNT SECURITY</span>

  </div>

</div>